<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <%= link_to  "HOME",root_path,class:"navbar-item" %>
        <%= link_to  "POST",new_article_path, class:"navbar-item"%>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <strong><%= link_to "Profile", root_path,class:"button is-primary"%></strong>
            <strong><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"button is-light"%></strong>
            </div>
          <% else %>
            <div class="buttons">
            <strong><%= link_to "Sign up", new_user_registration_path, class:"button is-primary"%></strong>
            <strong><%= link_to "Log in", new_user_session_path, class:"button is-light"%></strong>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>